@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}



header {
  position: relative;
  width: 100%;
  height: 80vh;
  background: linear-gradient(90deg, #f94626, #f02328);
  overflow: hidden;
}

header nav {
  width: 63%;
  height: 13%;
  /* border: 1px solid #fff; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo {
  width: 110px;
  height: 40px;
}

  header nav .ul_user {
    display: flex;
    align-items: center;
  }

header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

header nav ul li {
    list-style-type: none;
    padding: 5px 0px 5px 25px;
  }

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.3 ease-in-out;
}

header nav ul li a:hover {
  color: #ffe91e;
}

header nav .user {
  display: flex;
  align-items: center;
}
header nav .user li{
    list-style-type: none;
    margin-left: 20px;
}
header nav .user li a{
    position: relative;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3 ease-in-out;
  }
  header nav .user li a:hover{
    color: #ffe91e;
  }
  header nav .user li a img{
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 30px;
    padding: 3px 4px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
  }
  header nav .user li a:hover img{
    filter: hue-rotate(360deg);
  }
  header nav .user li a .cart_count{
    position: absolute;
    width: 13px;
    height: 13px;
    background: #000;
    top: -20px;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  